.table {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    min-height: 100%;
    flex: 1 1 100%;
}

.row {
    grid-template-columns:
        minmax(70px, 0.5fr) minmax(100px, 1fr) minmax(90px, 0.8fr) minmax(140px, 1.4fr)
        minmax(60px, 0.5fr) minmax(140px, 1.4fr) minmax(65px, 0.7fr) minmax(145px, 1fr);
}

.rows {
    min-width: fit-content;
    flex: 1 1 100%;
    outline: none;
    position: relative;
}
