.ordersCells {
    padding-right: 4px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    color: var(--semantic-text-primary);
}

.ordersHeaderCell {
    padding: 4px 4px 4px 0px;
    font-size: 14px;
    color: var(--semantic-text-primary);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.ordersHeaderRow {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    background-color: var(--semantic-foreground-white-primary);
    border: 1px solid var(semantic-border-primary);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
}

.ordersRow {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    display: grid;
    transition: box-shadow 150ms, background-color 150ms;
    cursor: pointer;
    box-shadow: inset 0 -1px 0px 0px rgb(234, 236, 240);
    &Focused {
        box-shadow: inset 3px 0px 0px var(--semantic-foreground-brand-primary);
    }
    &Selected {
        box-shadow: inset 3px 0px 0px 1.5px var(--semantic-foreground-brand-primary);
    }
    &DarkBlue {
        background-color: var(--utility-foreground-blue-dark-tertiary);
    }
    // need to rewrite this tokens
    &Success {
        background-color: var(--utility-foreground-success-tertiary);
    }
    &Yellow {
        background-color: var(--utility-foreground-yellow-tertiary);
    }
    &Warning {
        background-color: var(--utility-foreground-warning-tertiary);
    }
    &Error {
        background-color: var(--utility-foreground-error-tertiary);
    }
    &Pink {
        background-color: var(--utility-foreground-pink-tertiary);
    }
    &Gray {
        background-color: var(--utility-foreground-gray-tertiary);
    }
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        outline: none !important;
    }
}

.ordersTableFooter {
    background-color: var(--semantic-foreground-white-primary);
    border: 1px solid var(--semantic-border-primary);
    display: grid;
    height: 45px;
    max-height: 45px;
    min-height: 45px;
}

.ordersPagination {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 1 15px;
    border-top: 1px solid var(--semantic-border-primary);
    border-right: 1px solid var(--semantic-border-primary);
    background-color: var(--semantic-foreground-white-primary);

    &Wrapper {
        position: relative;
    }
    &ButtonWrapper {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 0 20px;
        flex-direction: row;
    }
}

.fetchingProgress {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--semantic-foreground-brand-tertiary);
    & .MuiLinearProgress-bar {
        background-color: var(--semantic-foreground-brand-primary);
    }
}
