@use '@/scss/abstracts' as *;

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: $gap-sm;
    height: 100%;
    align-items: center;
}

.loadId {
    font-weight: 500;
    font-size: 14px;
    color: var(--semantic-text-brand-primary);
    text-decoration: underline;
}

.otherLoadIds {
    font-weight: 500;
    font-size: 14px;
    color: var(--semantic-text-brand-primary);
    text-decoration: underline;
}
