@use '@/scss/abstracts' as *;

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
}
