.wrapper {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    cursor: pointer;
    position: relative;
    height: 40px;
}

.wrapper__selected {
    box-shadow: 0px 0px 5px 3px #00ffff;
    border-radius: 8px;
}

.innerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #0a43e1;
    background-color: #ffffff;
}

.content {
    background-color: #0a43e1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
