@use 'colors' as *;
#__next {
    --semantic-text-primary: #{$sd-light-colors-semantic-text-primary};
    --semantic-text-secondary: #{$sd-light-colors-semantic-text-secondary};
    --semantic-text-tertiary: #{$sd-light-colors-semantic-text-tertiary};
    --semantic-text-white: #{$sd-light-colors-semantic-text-white};
    --semantic-text-brand-primary: #{$sd-light-colors-semantic-text-brand-primary};
    --semantic-text-brand-secondary: #{$sd-light-colors-semantic-text-brand-secondary};
    --semantic-text-brand-tertiary: #{$sd-light-colors-semantic-text-brand-tertiary};
    --semantic-text-disabled: #{$sd-light-colors-semantic-text-disabled};
    --semantic-foreground-white-primary: #{$sd-light-colors-semantic-foreground-white-primary};
    --semantic-foreground-white-secondary: #{$sd-light-colors-semantic-foreground-white-secondary};
    --semantic-foreground-white-tertiary: #{$sd-light-colors-semantic-foreground-white-tertiary};
    --semantic-foreground-primary: #{$sd-light-colors-semantic-foreground-primary};
    --semantic-foreground-brand-primary: #{$sd-light-colors-semantic-foreground-brand-primary};
    --semantic-foreground-brand-secondary: #{$sd-light-colors-semantic-foreground-brand-secondary};
    --semantic-foreground-brand-tertiary: #{$sd-light-colors-semantic-foreground-brand-tertiary};
    --semantic-foreground-secondary: #{$sd-light-colors-semantic-foreground-secondary};
    --semantic-foreground-tertiary: #{$sd-light-colors-semantic-foreground-tertiary};
    --semantic-foreground-quarterary: #{$sd-light-colors-semantic-foreground-quarterary};
    --semantic-foreground-chinquary: #{$sd-light-colors-semantic-foreground-chinquary};
    --semantic-foreground-disabled: #{$sd-light-colors-semantic-foreground-disabled};
    --semantic-foreground-six: #{$sd-light-colors-semantic-foreground-six};
    --semantic-background-white: #{$sd-light-colors-semantic-background-white};
    --semantic-background-brand: #{$sd-light-colors-semantic-background-brand};
    --semantic-background-primary: #{$sd-light-colors-semantic-background-primary};
    --semantic-background-secondary: #{$sd-light-colors-semantic-background-secondary};
    --semantic-border-brand-primary: #{$sd-light-colors-semantic-border-brand-primary};
    --semantic-border-brand-secondary: #{$sd-light-colors-semantic-border-brand-secondary};
    --semantic-border-brand-tertiary: #{$sd-light-colors-semantic-border-brand-tertiary};
    --semantic-border-primary: #{$sd-light-colors-semantic-border-primary};
    --semantic-border-secondary: #{$sd-light-colors-semantic-border-secondary};
    --semantic-border-tertiary: #{$sd-light-colors-semantic-border-tertiary};
    --semantic-border-error-primary: #{$sd-light-colors-semantic-border-error-primary};
    --semantic-border-error-secondary: #{$sd-light-colors-semantic-border-error-secondary};
    --semantic-border-error-tertiary: #{$sd-light-colors-semantic-border-error-tertiary};
    --semantic-border-success-primary: #{$sd-light-colors-semantic-border-success-primary};
    --semantic-border-success-secondary: #{$sd-light-colors-semantic-border-success-secondary};
    --semantic-actions-foreground-primary: #{$sd-light-colors-semantic-actions-foreground-primary};
    --semantic-actions-foreground-secondary: #{$sd-light-colors-semantic-actions-foreground-secondary};
    --semantic-actions-foreground-red: #{$sd-light-colors-semantic-actions-foreground-red};
    --semantic-actions-foreground-success: #{$sd-light-colors-semantic-actions-foreground-success};
    --semantic-actions-foreground-gray-primary: #{$sd-light-colors-semantic-actions-foreground-gray-primary};
    --semantic-actions-foreground-gray-secondary: #{$sd-light-colors-semantic-actions-foreground-gray-secondary};
    --semantic-actions-foreground-tertiary: #{$sd-light-colors-semantic-actions-foreground-tertiary};
    --semantic-actions-utility-yellow: #{$sd-light-colors-semantic-actions-utility-yellow};
    --semantic-actions-utility-blue-dark: #{$sd-light-colors-semantic-actions-utility-blue-dark};
    --semantic-actions-utility-pink: #{$sd-light-colors-semantic-actions-utility-pink};
    --semantic-actions-utility-warning: #{$sd-light-colors-semantic-actions-utility-warning};
    --semantic-actions-utility-error: #{$sd-light-colors-semantic-actions-utility-error};
    --semantic-actions-utility-success: #{$sd-light-colors-semantic-actions-utility-success};
    --semantic-actions-utility-violet: #{$sd-light-colors-semantic-actions-utility-violet};
    --semantic-actions-utility-indigo: #{$sd-light-colors-semantic-actions-utility-indigo};
    --utility-text-yellow: #{$sd-light-colors-utility-text-yellow};
    --utility-text-blue-dark: #{$sd-light-colors-utility-text-blue-dark};
    --utility-text-pink: #{$sd-light-colors-utility-text-pink};
    --utility-text-warning: #{$sd-light-colors-utility-text-warning};
    --utility-text-error: #{$sd-light-colors-utility-text-error};
    --utility-text-gray: #{$sd-light-colors-utility-text-gray};
    --utility-text-success: #{$sd-light-colors-utility-text-success};
    --utility-text-violet: #{$sd-light-colors-utility-text-violet};
    --utility-text-purple: #{$sd-light-colors-utility-text-purple};
    --utility-text-indigo: #{$sd-light-colors-utility-text-indigo};
    --utility-text-ocean: #{$sd-light-colors-utility-text-ocean};
    --utility-text-iron: #{$sd-light-colors-utility-text-iron};
    --utility-foreground-yellow-primary: #{$sd-light-colors-utility-foreground-yellow-primary};
    --utility-foreground-yellow-secondary: #{$sd-light-colors-utility-foreground-yellow-secondary};
    --utility-foreground-yellow-tertiary: #{$sd-light-colors-utility-foreground-yellow-tertiary};
    --utility-foreground-blue-dark-primary: #{$sd-light-colors-utility-foreground-blue-dark-primary};
    --utility-foreground-blue-dark-secondary: #{$sd-light-colors-utility-foreground-blue-dark-secondary};
    --utility-foreground-blue-dark-tertiary: #{$sd-light-colors-utility-foreground-blue-dark-tertiary};
    --utility-foreground-pink-primary: #{$sd-light-colors-utility-foreground-pink-primary};
    --utility-foreground-pink-secondary: #{$sd-light-colors-utility-foreground-pink-secondary};
    --utility-foreground-pink-tertiary: #{$sd-light-colors-utility-foreground-pink-tertiary};
    --utility-foreground-warning-primary: #{$sd-light-colors-utility-foreground-warning-primary};
    --utility-foreground-warning-secondary: #{$sd-light-colors-utility-foreground-warning-secondary};
    --utility-foreground-warning-tertiary: #{$sd-light-colors-utility-foreground-warning-tertiary};
    --utility-foreground-error-primary: #{$sd-light-colors-utility-foreground-error-primary};
    --utility-foreground-error-secondary: #{$sd-light-colors-utility-foreground-error-secondary};
    --utility-foreground-error-tertiary: #{$sd-light-colors-utility-foreground-error-tertiary};
    --utility-foreground-success-primary: #{$sd-light-colors-utility-foreground-success-primary};
    --utility-foreground-success-secondary: #{$sd-light-colors-utility-foreground-success-secondary};
    --utility-foreground-success-tertiary: #{$sd-light-colors-utility-foreground-success-tertiary};
    --utility-foreground-gray-primary: #{$sd-light-colors-utility-foreground-gray-primary};
    --utility-foreground-gray-secondary: #{$sd-light-colors-utility-foreground-gray-secondary};
    --utility-foreground-gray-tertiary: #{$sd-light-colors-utility-foreground-gray-tertiary};
    --utility-foreground-violet-primary: #{$sd-light-colors-utility-foreground-violet-primary};
    --utility-foreground-violet-secondary: #{$sd-light-colors-utility-foreground-violet-secondary};
    --utility-foreground-violet-tertiary: #{$sd-light-colors-utility-foreground-violet-tertiary};
    --utility-foreground-indigo-primary: #{$sd-light-colors-utility-foreground-indigo-primary};
    --utility-foreground-indigo-secondary: #{$sd-light-colors-utility-foreground-indigo-secondary};
    --utility-foreground-indigo-tertiary: #{$sd-light-colors-utility-foreground-indigo-tertiary};
    --utility-foreground-purple-primary: #{$sd-light-colors-utility-foreground-purple-primary};
    --utility-foreground-purple-secondary: #{$sd-light-colors-utility-foreground-purple-secondary};
    --utility-foreground-purple-tertiary: #{$sd-light-colors-utility-foreground-purple-tertiary};
    --utility-foreground-ocean-primary: #{$sd-light-colors-utility-foreground-ocean-primary};
    --utility-foreground-ocean-secondary: #{$sd-light-colors-utility-foreground-ocean-secondary};
    --utility-foreground-ocean-tertiary: #{$sd-light-colors-utility-foreground-ocean-tertiary};
    --utility-foreground-iron-primary: #{$sd-light-colors-utility-foreground-iron-primary};
    --utility-foreground-iron-secondary: #{$sd-light-colors-utility-foreground-iron-secondary};
    --utility-foreground-iron-tertiary: #{$sd-light-colors-utility-foreground-iron-tertiary};
    --utility-border-dark-blue: #{$sd-light-colors-utility-border-dark-blue};
    --utility-border-violet: #{$sd-light-colors-utility-border-violet};
    --utility-border-indigo: #{$sd-light-colors-utility-border-indigo};
    --utility-border-purple: #{$sd-light-colors-utility-border-purple};
    --utility-icon-blue-dark-primary: #{$sd-light-colors-utility-icon-blue-dark-primary};
    --utility-icon-blue-dark-secondary: #{$sd-light-colors-utility-icon-blue-dark-secondary};
    --utility-icon-violet-primary: #{$sd-light-colors-utility-icon-violet-primary};
    --utility-icon-violet-secondary: #{$sd-light-colors-utility-icon-violet-secondary};
    --utility-icon-ocean-primary: #{$sd-light-colors-utility-icon-ocean-primary};
    --utility-icon-ocean-secondary: #{$sd-light-colors-utility-icon-ocean-secondary};
    --utility-icon-pink-primary: #{$sd-light-colors-utility-icon-pink-primary};
    --utility-icon-pink-secondary: #{$sd-light-colors-utility-icon-pink-secondary};
    --utility-icon-error-primary: #{$sd-light-colors-utility-icon-error-primary};
    --utility-icon-error-secondary: #{$sd-light-colors-utility-icon-error-secondary};
    --utility-icon-warning-primary: #{$sd-light-colors-utility-icon-warning-primary};
    --utility-icon-warning-secondary: #{$sd-light-colors-utility-icon-warning-secondary};
}

#__next:is([data-mode='dark']) {
    --semantic-text-primary: $sd-dark-colors-semantic-text-primary;
    --semantic-text-secondary: $sd-dark-colors-semantic-text-secondary;
    --semantic-text-tertiary: $sd-dark-colors-semantic-text-tertiary;
    --semantic-text-white: $sd-dark-colors-semantic-text-white;
    --semantic-text-brand-primary: $sd-dark-colors-semantic-text-brand-primary;
    --semantic-text-brand-secondary: #{$sd-dark-colors-semantic-text-brand-secondary};
    --semantic-text-brand-tertiary: #{$sd-dark-colors-semantic-text-brand-tertiary};
    --semantic-text-disabled: #{$sd-dark-colors-semantic-text-disabled};
    --semantic-foreground-white-primary: #{$sd-dark-colors-semantic-foreground-white-primary};
    --semantic-foreground-white-secondary: #{$sd-dark-colors-semantic-foreground-white-secondary};
    --semantic-foreground-white-tertiary: #{$sd-dark-colors-semantic-foreground-white-tertiary};
    --semantic-foreground-primary: #{$sd-dark-colors-semantic-foreground-primary};
    --semantic-foreground-brand-primary: #{$sd-dark-colors-semantic-foreground-brand-primary};
    --semantic-foreground-brand-secondary: #{$sd-dark-colors-semantic-foreground-brand-secondary};
    --semantic-foreground-brand-tertiary: #{$sd-dark-colors-semantic-foreground-brand-tertiary};
    --semantic-foreground-secondary: #{$sd-dark-colors-semantic-foreground-secondary};
    --semantic-foreground-tertiary: #{$sd-dark-colors-semantic-foreground-tertiary};
    --semantic-foreground-quarterary: #{$sd-dark-colors-semantic-foreground-quarterary};
    --semantic-foreground-chinquary: #{$sd-dark-colors-semantic-foreground-chinquary};
    --semantic-foreground-disabled: #{$sd-dark-colors-semantic-foreground-disabled};
    --semantic-foreground-six: #{$sd-dark-colors-semantic-foreground-six};
    --semantic-background-white: #{$sd-dark-colors-semantic-background-white};
    --semantic-background-brand: #{$sd-dark-colors-semantic-background-brand};
    --semantic-background-primary: #{$sd-dark-colors-semantic-background-primary};
    --semantic-background-secondary: #{$sd-dark-colors-semantic-background-secondary};
    --semantic-border-brand-primary: #{$sd-dark-colors-semantic-border-brand-primary};
    --semantic-border-brand-secondary: #{$sd-dark-colors-semantic-border-brand-secondary};
    --semantic-border-brand-tertiary: #{$sd-dark-colors-semantic-border-brand-tertiary};
    --semantic-border-primary: #{$sd-dark-colors-semantic-border-primary};
    --semantic-border-secondary: #{$sd-dark-colors-semantic-border-secondary};
    --semantic-border-tertiary: #{$sd-dark-colors-semantic-border-tertiary};
    --semantic-border-error-primary: #{$sd-dark-colors-semantic-border-error-primary};
    --semantic-border-error-secondary: #{$sd-dark-colors-semantic-border-error-secondary};
    --semantic-border-error-tertiary: #{$sd-dark-colors-semantic-border-error-tertiary};
    --semantic-border-success-primary: #{$sd-dark-colors-semantic-border-success-primary};
    --semantic-border-success-secondary: #{$sd-dark-colors-semantic-border-success-secondary};
    --semantic-actions-foreground-primary: #{$sd-dark-colors-semantic-actions-foreground-primary};
    --semantic-actions-foreground-secondary: #{$sd-dark-colors-semantic-actions-foreground-secondary};
    --semantic-actions-foreground-red: #{$sd-dark-colors-semantic-actions-foreground-red};
    --semantic-actions-foreground-success: #{$sd-dark-colors-semantic-actions-foreground-success};
    --semantic-actions-foreground-gray-primary: #{$sd-dark-colors-semantic-actions-foreground-gray-primary};
    --semantic-actions-foreground-gray-secondary: #{$sd-dark-colors-semantic-actions-foreground-gray-secondary};
    --semantic-actions-foreground-tertiary: #{$sd-dark-colors-semantic-actions-foreground-tertiary};
    --semantic-actions-utility-yellow: #{$sd-dark-colors-semantic-actions-utility-yellow};
    --semantic-actions-utility-blue-dark: #{$sd-dark-colors-semantic-actions-utility-blue-dark};
    --semantic-actions-utility-pink: #{$sd-dark-colors-semantic-actions-utility-pink};
    --semantic-actions-utility-warning: #{$sd-dark-colors-semantic-actions-utility-warning};
    --semantic-actions-utility-error: #{$sd-dark-colors-semantic-actions-utility-error};
    --semantic-actions-utility-success: #{$sd-dark-colors-semantic-actions-utility-success};
    --semantic-actions-utility-violet: #{$sd-dark-colors-semantic-actions-utility-violet};
    --semantic-actions-utility-indigo: #{$sd-dark-colors-semantic-actions-utility-indigo};
    --utility-text-yellow: #{$sd-dark-colors-utility-text-yellow};
    --utility-text-blue-dark: #{$sd-dark-colors-utility-text-blue-dark};
    --utility-text-pink: #{$sd-dark-colors-utility-text-pink};
    --utility-text-warning: #{$sd-dark-colors-utility-text-warning};
    --utility-text-error: #{$sd-dark-colors-utility-text-error};
    --utility-text-gray: #{$sd-dark-colors-utility-text-gray};
    --utility-text-success: #{$sd-dark-colors-utility-text-success};
    --utility-text-violet: #{$sd-dark-colors-utility-text-violet};
    --utility-text-purple: #{$sd-dark-colors-utility-text-purple};
    --utility-text-indigo: #{$sd-dark-colors-utility-text-indigo};
    --utility-text-ocean: #{$sd-dark-colors-utility-text-ocean};
    --utility-text-iron: #{$sd-dark-colors-utility-text-iron};
    --utility-foreground-yellow-primary: #{$sd-dark-colors-utility-foreground-yellow-primary};
    --utility-foreground-yellow-secondary: #{$sd-dark-colors-utility-foreground-yellow-secondary};
    --utility-foreground-yellow-tertiary: #{$sd-dark-colors-utility-foreground-yellow-tertiary};
    --utility-foreground-blue-dark-primary: #{$sd-dark-colors-utility-foreground-blue-dark-primary};
    --utility-foreground-blue-dark-secondary: #{$sd-dark-colors-utility-foreground-blue-dark-secondary};
    --utility-foreground-blue-dark-tertiary: #{$sd-dark-colors-utility-foreground-blue-dark-tertiary};
    --utility-foreground-pink-primary: #{$sd-dark-colors-utility-foreground-pink-primary};
    --utility-foreground-pink-secondary: #{$sd-dark-colors-utility-foreground-pink-secondary};
    --utility-foreground-pink-tertiary: #{$sd-dark-colors-utility-foreground-pink-tertiary};
    --utility-foreground-warning-primary: #{$sd-dark-colors-utility-foreground-warning-primary};
    --utility-foreground-warning-secondary: #{$sd-dark-colors-utility-foreground-warning-secondary};
    --utility-foreground-warning-tertiary: #{$sd-dark-colors-utility-foreground-warning-tertiary};
    --utility-foreground-error-primary: #{$sd-dark-colors-utility-foreground-error-primary};
    --utility-foreground-error-secondary: #{$sd-dark-colors-utility-foreground-error-secondary};
    --utility-foreground-error-tertiary: #{$sd-dark-colors-utility-foreground-error-tertiary};
    --utility-foreground-success-primary: #{$sd-dark-colors-utility-foreground-success-primary};
    --utility-foreground-success-secondary: #{$sd-dark-colors-utility-foreground-success-secondary};
    --utility-foreground-success-tertiary: #{$sd-dark-colors-utility-foreground-success-tertiary};
    --utility-foreground-gray-primary: #{$sd-dark-colors-utility-foreground-gray-primary};
    --utility-foreground-gray-secondary: #{$sd-dark-colors-utility-foreground-gray-secondary};
    --utility-foreground-gray-tertiary: #{$sd-dark-colors-utility-foreground-gray-tertiary};
    --utility-foreground-violet-primary: #{$sd-dark-colors-utility-foreground-violet-primary};
    --utility-foreground-violet-secondary: #{$sd-dark-colors-utility-foreground-violet-secondary};
    --utility-foreground-violet-tertiary: #{$sd-dark-colors-utility-foreground-violet-tertiary};
    --utility-foreground-indigo-primary: #{$sd-dark-colors-utility-foreground-indigo-primary};
    --utility-foreground-indigo-secondary: #{$sd-dark-colors-utility-foreground-indigo-secondary};
    --utility-foreground-indigo-tertiary: #{$sd-dark-colors-utility-foreground-indigo-tertiary};
    --utility-foreground-purple-primary: #{$sd-dark-colors-utility-foreground-purple-primary};
    --utility-foreground-purple-secondary: #{$sd-dark-colors-utility-foreground-purple-secondary};
    --utility-foreground-purple-tertiary: #{$sd-dark-colors-utility-foreground-purple-tertiary};
    --utility-foreground-ocean-primary: #{$sd-dark-colors-utility-foreground-ocean-primary};
    --utility-foreground-ocean-secondary: #{$sd-dark-colors-utility-foreground-ocean-secondary};
    --utility-foreground-ocean-tertiary: #{$sd-dark-colors-utility-foreground-ocean-tertiary};
    --utility-foreground-iron-primary: #{$sd-dark-colors-utility-foreground-iron-primary};
    --utility-foreground-iron-secondary: #{$sd-dark-colors-utility-foreground-iron-secondary};
    --utility-foreground-iron-tertiary: #{$sd-dark-colors-utility-foreground-iron-tertiary};
    --utility-border-dark-blue: #{$sd-dark-colors-utility-border-dark-blue};
    --utility-border-violet: #{$sd-dark-colors-utility-border-violet};
    --utility-border-indigo: #{$sd-dark-colors-utility-border-indigo};
    --utility-border-purple: #{$sd-dark-colors-utility-border-purple};
    --utility-icon-blue-dark-primary: #{$sd-dark-colors-utility-icon-blue-dark-primary};
    --utility-icon-blue-dark-secondary: #{$sd-dark-colors-utility-icon-blue-dark-secondary};
    --utility-icon-violet-primary: #{$sd-dark-colors-utility-icon-violet-primary};
    --utility-icon-violet-secondary: #{$sd-dark-colors-utility-icon-violet-secondary};
    --utility-icon-ocean-primary: #{$sd-dark-colors-utility-icon-ocean-primary};
    --utility-icon-ocean-secondary: #{$sd-dark-colors-utility-icon-ocean-secondary};
    --utility-icon-pink-primary: #{$sd-dark-colors-utility-icon-pink-primary};
    --utility-icon-pink-secondary: #{$sd-dark-colors-utility-icon-pink-secondary};
    --utility-icon-error-primary: #{$sd-dark-colors-utility-icon-error-primary};
    --utility-icon-error-secondary: #{$sd-dark-colors-utility-icon-error-secondary};
    --utility-icon-warning-primary: #{$sd-dark-colors-utility-icon-warning-primary};
    --utility-icon-warning-secondary: #{$sd-dark-colors-utility-icon-warning-secondary};
}
