@use '@/scss/abstracts' as *;
@use './base';

@media print {
    html,
    body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
        background-color: transparent;
    }
}

#__next,
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*background-color: #F4F5FA;*/
}

body.col-resize-cursor {
    cursor: col-resize !important;
}

#__next {
    height: 100%;
}

code {
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    padding: 0.1rem 0.4rem;
    font-size: 90%;
    color: #d400ff;
    border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
    content: '`';
}
code[class*='language-'] {
    padding: 0;
}

::-webkit-scrollbar {
    height: 9px !important;
    width: 9px !important;
}
::-webkit-scrollbar-track-piece {
    background: var(--semantic-foreground-white-primary) !important;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background: var(--semantic-foreground-six) !important;
    border-radius: 3px !important;
}

/* perfect */
.ps__thumb-y {
    border-radius: 0;
    width: 12px;
}
.ps__thumb-x {
    border-radius: 0;
    height: 12px;
}
.ps__rail-x {
    z-index: 1000;
}

.text-light-color {
    color: black;
}
.text-dark-color {
    color: black;
}

a {
    text-decoration: none;
}

/* friendly color for light / dark */
/* .Mui-checked,
.MuiCheckbox-indeterminate {
  color: #9239f7 !important;
} */

.slideshowLightboxLoadDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.popup-stop-marker {
    .mapboxgl-popup-content {
        padding: 0;
    }
}

.manifest-popup-stop-marker .mapboxgl-popup-content {
    padding: 0;
}

.manifest-popup-stop-marker {
    z-index: 1100;
    max-width: max-content !important;
}
/* .manifest-popup-stop-marker .mapboxgl-popup {
  z-index: 1100;
  max-width: max-content;
} */

p {
    margin: 0;
}

.os-scrollbar {
    --os-handle-border-radius: 3px;
    --os-size: 12px;
    --os-padding-perpendicular: 3px;
    --os-padding-axis: 4px;
    --os-handle-bg-hover: var(--semantic-foreground-six);
    --os-handle-bg-active: var(--semantic-foreground-six);
    --os-handle-bg: var(--semantic-foreground-six);
}
